* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: black;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 40px;
  align-items: center;
  background-color: black;
  color: white;
  height: 111px;
}
nav > ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  align-items: center;
}
nav > ul > li {
  margin-inline: 20px;
}
nav > div > i {
  display: flex;
  align-items: center;
  margin-inline: 10px;
}
#hero {
  height: 100vh;
  width: 100%;
  background-image: url(images/pizza1\ 1.svg);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-inline: 50px;
  padding: 50px;
}
#hero > h2 {
  width: 902px;
  height: 215px;
  color: #fff;
  font-size: 101px;
  font-weight: 600;
  line-height: 108.5px; /* 107.426% */
  letter-spacing: 9.09px;
}
#hero > p {
  width: 599px;
  height: 325px;
  color: #fff;
  font-family: Ruda;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 160% */
  letter-spacing: 2.25px;
  margin-inline: 20px;
  text-align: justify;
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
#content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
#content > p {
  display: flex;
  text-align: justify;
  width: 45%;
  color: #fff;
  font-family: Ruda;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 160% */
  letter-spacing: 2.25px;
  margin-inline: 60px;
}
#content > img {
  width: 40%;
}
#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  width: 90vw;
}
#menu > p {
  color: #fff;
  font-family: Ruda;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 160% */
  letter-spacing: 2.25px;
  width: 1315px;
  margin-inline: 40px;
  text-align: justify;
  margin-top: 10px;
}
#section {
  width: 95vw;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#item {
  display: flex;
  width: 600px;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  margin-left: 30px;
}
#item > div > h4 {
  color: #f2c94c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Ruda;
  font-size: 28px;
  font-weight: 400;
  line-height: 0px; /* 0% */
}
#item > div > P {
  color: #fff;
  font-family: Ruda;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 200% */
  letter-spacing: 1.2px;
  padding-top: 20px;
}
#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
#grid {
  display: grid;
  width: 90 vw;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: repeat(6, 100px);
  align-items: center;
  margin-top: 40px;
  grid-template-areas:
    "a e b"
    "a e b"
    "a d b"
    "a d c"
    "a f c"
    "a f c";
}
#grid > img {
  width: 100%;
  height: 95%;
  align-items: center;
}
#a {
  grid-area: a;
}
#b {
  grid-area: b;
  width: 274px;
  height: 302px;
}
#c {
  grid-area: c;
  width: 274px;
  height: 302px;
}
#d {
  grid-area: d;
  width: 274px;
  height: 200px;
  padding-inline: 10px;
}
#e {
  grid-area: e;
  width: 274px;
  height: 200px;
  padding-inline: 10px;
}
#f {
  grid-area: f;
  width: 274px;
  height: 200px;
  padding-inline: 10px;
}
#find {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
#findc {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
#one {
  display: flex;
  flex-direction: column;
}
#one > p {
  width: 70%;
  color: #fff;
  font-family: Ruda;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 160% */
  letter-spacing: 2.25px;
  margin-bottom: 30px;
}
#one > span {
  color: #fff;
  font-family: Ruda;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 200% */
  letter-spacing: 1.8px;
  margin-top: 5px;
}
.span {
  padding-right: 20px;
  margin-left: 8px;
}

.final {
  width: 95vw;
  height: 262px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 40px;
}
.pics {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: Ruda;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 1.8px;
}
#carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
#my-carousel {
  width: 80vw;
  margin: auto;
  overflow: hidden;
  overflow-x: scroll;
  margin-top: 40px;
}
#my-carousel > img {
  height: 70vh;
}
